.fondoLluvia{
    --background: none;
    background-color: transparent;
    position: relative;
    overflow: hidden;
  }
    
  .fondoLluvia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../imagenes/fondo.svg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
  }

  .texto{
    text-align: center;
    font-family: 'Open Sans';
    margin: 2%;
    color: #797979;
  }

  .checkbox{
    font-size: 25px;
    color: #484848;
    margin-top: 7%;
    margin-left: 7%;
    font-weight: bold;
    font-family: 'Open Sans';
  }

  .imgAtras3{
    display: block;
    margin: 0 auto;
    width: 15%;
    margin-top: 15%;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
  
    .fondoLluvia{
      --background: none;
      background-color: transparent;
      position: relative;
      overflow: hidden;
    }
      
    .fondoLluvia::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url('../imagenes/fondo.svg') no-repeat center center fixed;
      background-size: cover;
      z-index: -1;
    }
  
    .texto{
      text-align: center;
      font-family: 'Open Sans';
      margin: 3%;
      color: #797979;
      font-size: 35px;
    }
  
    .checkbox{
      font-size: 25px;
      color: #484848;
      margin-top: 7%;
      margin-left: 7%;
      font-weight: bold;
      font-family: 'Open Sans';
      font-size: 35px;
    }
  
    .imgAtras3{
      display: block;
      margin: 0 auto;
      width: 13%;
      margin-top: 15%;
    }

  }