.timer{
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    color: #797979;
  }

  .fondoTiempo{
    --background: none;
    background-color: transparent;
    position: relative;
    overflow: hidden;
  }
    
  .fondoTiempo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../imagenes/fondo.svg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
  }

  .contenedor-buttons{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .imgAtras2{
    display: block;
    margin: 0 auto;
    width: 15%;
    margin-top: 5%;
  }

  .buttons{    
    background: #797979;
    color: #fff;
    margin-top: 5%;
    margin-right: 2%;
    border-radius: 20px;

  }

  .tituloSeleccionar{
    font-size: 25px;
    color: #797979;
    display: block;
    margin-top: 5%;
    margin-left: 3%;
}

.h2{
  font-size: 25px;
  text-align: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {

  .timer{
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    color: #797979;

  }

  .fondoTiempo{
    --background: none;
    background-color: transparent;
    position: relative;
    overflow: hidden;
  }
    
  .fondoTiempo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../imagenes/fondo.svg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
  }

  .contenedor-buttons{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .imgAtras2{
    display: block;
    margin: 0 auto;
    width: 10%;
    margin-top: 5%;
  }

  .buttons{    
    background: #797979;
    color: #fff;
    margin-top: 5%;
    margin-right: 2%;
    border-radius: 20px;
    font-size: 30px;
  }

  .tituloSeleccionar{
    font-size: 55px;
    color: #797979;
    display: block;
    margin-top: 5%;
    margin-left: 10%;
}

}